@font-face {
	font-family: Pru;
	src: url('pru.ttf');
}
*, *:after, *:before {
	box-sizing: border-box;
}
:root {
	font-size: 13pt;
	font-family: sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
}
input#formswitch {
	display:none;
}
form {
	display: flex; display: -webkit-flex;
	-webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
	min-height: 5em;
	max-height: 10em;
	-webkit-align-items: baseline; align-items: baseline;
	-webkit-justify-content: space-around; justify-content: space-around;
	box-shadow: 0px 2px 4px rgba(56,56,56,0.6);
	overflow:hidden;
	transition: max-height ease-out 0.2s, min-height ease-out 0.2s;
}
#formswitch:not(:checked) + form {
	max-height: 1em;
	min-height: 0px;
	padding:0px;
	transition: max-height ease-in 0.2s, min-height ease-in 0.2s;
}
#formswitch:not(:checked) + form :not([for="formswitch"]) {
	opacity: 0;
	transition: opacity linear 0.2s;
}
#formswitch:checked + form label[for="formswitch"]:after {
	transform: rotateZ(45deg);
	transition: transform linear 0.2s;
}
form label[for="formswitch"] {
	-webkit-flex: 100% 1 0;
	-ms-flex: 100% 1 0;
	flex: 100% 1 0;
	padding: 0em;
	margin:0px;
	line-height: 1em;
	display: block;
}
form label[for="formswitch"]:after {
	content: "+";
	font-weight: bold;
	display: inline-block;
	transition: transform linear 0.2s;
}
form *{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
form > *{
	padding: 0px 0.1em;
	border-right: solid grey 1px;
	-webkit-flex: auto 1 1;
	-ms-flex: auto 1 1;
	flex: auto 1 1;
	line-height: 2em;
}
form > *:last-child, form > *:first-child{
	border: none;
}
form textarea {
	min-height:5em;
}
form #dim {
	background-color: #bdbdbd;
}
.shield {
	display: flex; display: -webkit-flex;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	flex-wrap: nowrap;
	-webkit-align-items: stretch; align-items: stretch;
	-webkit-justify-content: center; justify-content: center;
	font-family: Pru;
	font-size: 1em;
	-webkit-flex: auto 1 1;
	-ms-flex: auto 1 1;
	flex: auto 1 1;
	height: auto;
	line-height: 0.5em;
	text-align: center;
	padding: 5mm 0px 3mm;
	border: solid 0.5px black;
}
.shield#pad{
	visibility: hidden
}
.shield p {
	-webkit-flex: 0.5em 0 1;
	-ms-flex: 0.5em 0 1;
	flex: 0.5em 0 1;
	margin: 0.4em 1em;
	white-space: nowrap;
}
.shield p:empty, .shield p[hide="true"] {
	display: none;
}
.rotatable {
	position: relative;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: green;
	cursor: pointer
}
.info {
	position: relative;
}
.rotatable:hover:after, .warning:hover:after, .info:hover:after {
	display: block;
	position: absolute;
	content: attr(message);
	background-color: ivory;
	color: black;
	padding: 0.3em;
	box-shadow: 0px 2px 4px rgba(56,56,56,0.6);
	width: auto;
	max-width: 20em;
	bottom: 2em;
	left: 1em;
	font-family: sans-serif;
	font-size: 8pt;
	line-height: 1em;
}
.warning {
	position: relative;
	border: dotted 1px red;
}
.rotatable:hover:after {
	content: "Для перемикання значень - клацніть";
}
.pages {
	width: 297mm;
	height: 210mm;
	overflow:visible;
	display: flex; display: -webkit-flex;
	-webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row;
	flex-wrap: wrap;
}
.button {
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #039be5;
	line-height: 2em;
	color: white;
	padding: 0.1em 0.5em;
	margin: 0.5em;
	cursor: pointer;
	transition: background-color linear 0.1s;
}
.button:hover{
	background-color: #42a5f5;
	transition: background-color linear 0.1s;
}
.button:active {
	background-color: #039be5;
}
.hoist {
	position: fixed;
	opacity: 0.5;
	box-shadow: 0px 2px 4px rgba(56,56,56,0.5);
}
.hoist:hover {
	opacity: 1;
}
#print.button{
	bottom: 1em;
	right: 1em;
}
#print.button:after{
	right:1em;
	left: unset;
	bottom: 3em;
}